
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <br />
    <h3 class="alert alert-success">Dolar Alış: @ViewBag.exchangeRateUsd - Dolar Satış: @ViewBag.previousRateUsd</h3>
    <h3 class="alert alert-warning">Euro Alış: @ViewBag.exchangeRateEuro - Euro Satış: @ViewBag.previousRateEuro</h3>
</div>